.viewer {
    background-color: lightgrey;
    padding: 20px;
    border-radius: 8px;
}

.contact-title {
    margin-bottom: 20px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
}

.error-text {
    color: red;
    margin-top: 10px;
}