.header {
    background-color: #3a405a;  /* Dark Slate Blue */
    border-bottom: 1px solid #333;  /* Adds a subtle border */
}

.header-title {
    padding-top: 2rem;
    color: #aec5eb;
    margin-left: 20px;
}

.nav {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-item {
    padding: 10px 15px;
    color: #aec5eb;
    text-decoration: none;
}

.nav-item:hover, .nav-item:focus {
    background-color: #007BFF;  
    color: #ffffff;  
    border-radius: 5px;
}
